@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {

    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

body {
    background: #18191A;
}
.drop-btn {
    width: 400px;
    background: #242526;
    line-height: 55px;
    font-size: 30px;
    font-weight: 600;
    color: #b0b3b8;
    padding: 0 20px;
}

.wrapper {
    display: flex;
    width: 400px;
    overflow: hidden;
    border-radius: 5px;
    background: #242526;
    transition: all 0.3s ease;
}

.wrapper ul {

    width: 400px;
    list-style: none;
    padding: 10px;
    transition: all 0.3s ease;
}

.wrapper ul li {
    line-height: 55px;
}

.wrapper ul li a {
    position: relative;
    color: #b0b3b8;
    font-size: 18px;
    font-weight: 500;
    padding: 0 10px;
    display: flex;
    border-radius: 8px;
    align-items: center;
    text-decoration: none;
}

.wrapper ul li:hover a {
    background: #3A3B3C;
}

ul li a .icon {
    height: 40px;
    width: 40px;
    margin-right: 13px;
    background: #ffffff1a;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
}

ul li a .icon span {
    line-height: 40px;
    font-size: 20px;
    color: #b0b3b8;
}

ul li a i {
    position: absolute;
    right: 10px;
    font-size: 25px;
    pointer-events: none;
}

.wrapper ul.blog-drop,
.wrapper ul.help-drop,
.wrapper ul.learning-drop,
.wrapper ul.drop-box
{
  display: none;
}


/* Go back icon on detail box*/
.wrapper .arrow {
    padding-left: 10px;
    font-size: 20px;
    font-weight: 500;
    color: #b0b3b8;
    cursor: pointer;
}

.wrapper .arrow span {
    margin-right: 15px;
}