{% extends 'base.html' %}
{% block title %}
Home
{% endblock %}
{% block body %}

<h1 class="pt-0 title text-center pt-lg-5">
    <box-icon name="code-alt"></box-icon>Web Resources
    <hr>
</h1>
<div class="container mt-3">

    <form class="form-inline my-2 mb-4" action="{% url 'home' %}">
        <input class="form-control mr-sm-2 mb-2" name="query" type="search" placeholder="Search" aria-label="Search">
        <input class="btn btn-outline-primary my-2 my-sm-0" type="submit" value="Search" />
    </form>
    <div class="row gy-3 gx-2 tab-pane fade active show" id="webdevelopment">
        {% if resources %}
        {% for resource in resources %}
        <div class="col-md-4" id="box">
            <div class="card p-3">
                <div class="card-title text-center" style="font-size:24px; font-weight:700;">
                    {{forloop.counter}}. {{resource.name}}
                </div>
                <hr class="m-0">

                <div class="card-body">

                    <ol class="list-group list-group-flush list-group-numbered">
                        {% for i in resource.element_set.all %}
                        <li class="list-group-item list-style-none"><a href="{{i.url}}" target="_blank">{{i.name}}</a>

                            {% if i.description %}
                            <p>{{i.description}}</p>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ol>

                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h3 class="text-center"> No Resources found!</h3>
        {% endif %}

    </div>

</div>

{% endblock %}