{% extends 'base.html' %}
{% block title %}
Home
{% endblock %}
{% block body %}
<h1 class="pt-0 title text-center pt-lg-5">
    <box-icon name="code-alt"></box-icon>Web Resources
</h1>
<div class="container mt-3">

    <ul class="nav nav-pills mb-3 justify-content-center align-content-center">
        <li><a class="nav-link active" target="_blank" data-bs-toggle="pill" href="#webdevelopment">WebDevelopment</a>
        </li>
        <li><a class="nav-link" target="_blank" data-bs-toggle="pill" href="#learningresources">Learning Resources</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="row gy-3 gx-2 tab-pane fade active show" id="webdevelopment">

            {% for resource in webresources %}
            <div class="col-md-3">
                <div class="card p-3">
                    <div class="card-title text-center" style="font-size:24px; font-weight:700;">
                        {{resource.name}}
                    </div>
                    <hr class="m-0">

                    <div class="card-body">

                        <ol class="list-group list-group-flush list-group-numbered">
                            {% for i in resource.element_set.all %}
                            <li class="list-group-item list-style-none"><a href="{{i.url}}"
                                    target="_blank">{{i.name}}</a>

                                {% if i.description %}
                                <p>{{i.description}}</p>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ol>

                    </div>
                </div>
            </div>
            {% endfor %}

        </div>

        <div class="row gy-3 gx-2 tab-pane fade" id="learningresources">

            {% for resource in learningresources %}
            <div class="col-md-3">
                <div class="card p-3">
                    <div class="card-title text-center" style="font-size:24px; font-weight:700;">
                        {{resource.name}}
                    </div>
                    <hr class="m-0">

                    <div class="card-body">

                        <ol class="list-group list-group-flush list-group-numbered">
                            {% for i in resource.element_set.all %}
                            <li class="list-group-item list-style-none"><a href="{{i.url}}"
                                    target="_blank">{{i.name}}</a>

                                {% if i.description %}
                                <p>{{i.description}}</p>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ol>

                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>


</div>

{% endblock %}