@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none !important;
  transition: all 0.6s ease-in-out;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #18191a !important;
}
main {
  min-height: 80vh;
}

h3 {
  padding: 0.3rem;
}

.rating span {
  margin: 0.1rem;
}
.box {
  width: 100%;
  max-width: 400px;
}
.card {
  background-color: #18191a !important;
  width: 100%;
  max-width: 100%;
  border: none !important;
  box-shadow: 0px 2px 15px rgb(0 0 0 / 16%);
}
.bg-white {
  background-color: white;
}
.dark-bg {
  color: white;
  background-color: #2c2c2c;
}
.dark-link {
  color: #888b8f !important;
}

.drop-btn {
  background: #313131;
  line-height: 55px;
  font-size: 2.4rem;
  font-weight: 600;
  color: #b0b3b8;
  padding: 0 20px;
}

.wrapper {
  display: flex;
  overflow: hidden;
  background: #242526;
  overflow-y: auto;
  height: 25rem;
  min-height: 200px;
  max-height: 41rem;
  transition: all 0.3s ease;
}
@media (max-width: 767px) {
  .wrapper {
    height: 18rem;
    min-height: 160px;
  }
}

.wrapper ul {
  width: 100%;
  list-style: none;
  padding: 10px;
  transition: all 0.3s ease;
}

.wrapper ul a,
.wrapper ul .drop-button,
.wrapper ul .resource-link {
  line-height: 55px;
  min-height: 44px;
  position: relative;
  color: #b0b3b8;
  font-size: 18px;
  font-weight: 500;
  padding: 0 10px;
  display: flex;
  cursor: pointer;
  border-radius: 8px;
  align-items: center;
  text-decoration: none;
}
@media (max-width: 767px) {
  .wrapper ul a,
  .wrapper ul .drop-button,
  .wrapper ul .resource-link {
    min-height: 48px;
    line-height: 48px;
    font-size: 16px;
  }
}

.wrapper ul a:hover .wrapper ul .drop-button:hover {
  background: #3a3b3c;
  color: #fff;
}

ul a .icon,
ul .drop-button .icon {
  height: 40px;
  width: 40px;
  margin-right: 13px;
  background: #ffffff1a;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
}

ul a .icon span,
ul .drop-button .icon span,
ul .resource-link .icon span {
  line-height: 40px;
  font-size: 20px;
  color: #b0b3b8;
}

ul a i,
ul .drop-button i {
  position: absolute;
  right: 10px;
  font-size: 25px;
  pointer-events: none;
}

.wrapper ul.blog-drop,
.wrapper ul.help-drop,
.wrapper ul.learning-drop,
.wrapper ul.drop-box {
  display: none;
}

.wrapper .sources-list {
  list-style: none;
  padding-left: 1.5rem;
  margin-top: 0;
}
.wrapper .resource-item {
  cursor: pointer;
}
.wrapper .resource-item i {
  position: absolute;
  right: 10px;
  font-size: 25px;
  pointer-events: none;
}

/* Go back icon on detail box*/
.wrapper .arrow {
  padding-left: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #b0b3b8;
  cursor: pointer;
}

.wrapper .arrow span {
  margin-right: 15px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  background-color: #222222;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #454545;
  border-radius: 20px;
}
